.userInfoContainer {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
}

.subTitle {
  margin: 100px auto;
}

.userInfo {
  display: flex;
  align-items: center;
  text-align: left;
}

.userName {
  margin-left: 10px;
}

.medalIcon {
  width: 30%;
  height: 30%;
}
